body {
  margin: 0;
  background-color: rgb(236, 236, 236);
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: dodgerblue;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  color: rgb(0,0,0);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 50%;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
}

.yourmessage{
  text-align: right;
  float: right;
  margin: 0px;
  padding: 0px;
}

.big-button{
  width: 24rem;
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}

.big-button:hover {
  background-color: deepskyblue;
}

.message-div {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  background-color: dodgerblue;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
  width: 24rem;
  border-radius: 2rem;
  color: white;
  font-size: 2rem;
}

.message-bar{
  border: 0.25rem solid lightskyblue;
  border-radius: 5000px;
}

.message-box{
  width: 50%;
  background: rgb(75,75,75);
  color: white;
  text-align: center;
} 


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}
