body {
  margin: 0;
  background-color: rgb(236, 236, 236);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --base-color: #004aad;
  --accent-color: #8c52ff;
}

header {
  background-color: var(--base-color);
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  color: rgb(0,0,0);
}

.content {
  position: relative;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem
}

.left-container {
  justify-self: end;
}

.right-container {
  justify-self: start;
}

.options-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.big-button {
  width: 24rem;
  cursor: pointer;
  background-color: var(--base-color);
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}

#connector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.message-div {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  background-color: var(--base-color);
  gap: 1rem;
  padding: 1rem 0 1rem 0;
  width: 24rem;
  border-radius: 2rem;
  color: white;
  font-size: 2rem;
}

.big-button:hover {
  background-color: var(--accent-color);
}

#message-holder {
  background-color: white;
  width: 24rem;
  position: relative;
  height: 24rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  border: 0.25rem solid var(--base-color);
  overflow: hidden;
}

#chat-name {
  height: 15%;
  background-color: var(--base-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#messages {
  height: 75%;
  padding: 1rem;
  display: inherit;
  flex-direction: inherit;
  gap: 0.5rem;
  overflow-y: auto;
}

.message-bar{
  border: 0.25rem solid var(--accent-color);
  border-radius: 20000px;
  padding-left: 0.5rem;  
}

.msg-options {
  height: 10%;
  background-color: var(--base-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#msg {
  width: 80%;
}

.message {
  background-color: var(--accent-color);
  color: white;
  width: fit-content;
  word-break: break-word;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.your-message {
  background-color: var(--base-color);
  margin-left: auto;
  margin-right: 0;
}

.bigoverlay{
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background-color: white;
  display: none;
  z-index: 2;
}

.bigtext{
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 2rem;
}

h6 {
  margin: 0;
}

a {
  text-decoration: none;
}