body {
  margin: 0;
  background-color: rgb(236, 236, 236);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --base-color: #004aad;
  --accent-color: #8c52ff;
}

header {
  background-color: var(--base-color);
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  color: rgb(0,0,0);
}

.content {
  position: relative;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem
}

.left-container {
  justify-self: end;
}

.right-container {
  justify-self: start;
}

.options-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.big-button {
  width: 24rem;
  cursor: pointer;
  background-color: var(--base-color);
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}

.message-div {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  background-color: var(--base-color);
  gap: 1rem;
  padding: 1rem 0 1rem 0;
  width: 24rem;
  border-radius: 2rem;
  color: white;
  font-size: 2rem;
}

.big-button:hover {
  background-color: var(--accent-color);
}

#message-holder {
  background-color: white;
  width: 24rem;
  padding: 1rem;
  position: relative;
  height: 24rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  border: 0.25rem solid var(--base-color);
  overflow: hidden;
}

.message-bar{
  border: 0.25rem solid var(--accent-color);
  border-radius: 20000px;
  padding-left: 0.5rem;  
}

.msg-options {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: inherit;
  background-color: var(--base-color);
  display: flex;
  justify-content: space-between;
}

#msg {
  width: 80%;
}

.yourmessage{
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
}

.othermessage{
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
  color: red;
}

h1 {
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}